build/
build-*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
*.vcxproj
*.vcxproj.filters
*.sln
*.log
*.obj
*.pdb
*.ilk
*.exe
*.lib
*.dll
*.ninja
*.ninja_deps
*.ninja_log
